body {
  background: #E3E3E3;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #333;
  margin: 0;
  width: 100%;
}
.center-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.header-img {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 300px;
  width: 100%;
  -webkit-box-shadow: 4px 0 4px #555;
  -moz-box-shadow: 4px 0 4px #555;
  box-shadow: 4px 0 4px #555;
}

/* Headers & Text */
.header-sans {
  color: #FFF;
  font: 10em/1em 'Gudea', sans-serif;
  font-style: italic;
  padding-top: 12%;
  text-shadow: 1px 1px 5px #333;
  text-transform: uppercase;
}
.cant-stop {
  color: #FFF;
  font: 8em/1em 'Gudea', sans-serif;
  font-style: italic;
  opacity: .8;
  padding-top: 52px;
  text-shadow: 1px 1px 5px #333;
  text-transform: uppercase;
}

/* Button */
.sign-in-btn {
  background: #3D95CE;
  border: 0;
  border-radius: 10px;
  color: #FFF;
  font: 2em/1em 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin-top: 60px;
  padding: 16px 4px;
  text-decoration: none;
  width: 500px;
  -webkit-box-shadow: 0 0 8px #555;
  -moz-box-shadow: 0 0 8px #555;
  box-shadow: 0 0 8px #555;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background: 0.2s ease-in-out;
}
.sign-in-btn:hover {
  background: #555;
}
.create-btn {
  background: #3D95CE;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font: 1.4em/1em 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin-top: 20px;
  padding: 12px 4px;
  text-decoration: none;
  width: 360px;
  -webkit-box-shadow: 0 0 6px #555;
  -moz-box-shadow: 0 0 6px #555;
  box-shadow: 0 0 6px #555;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background: 0.2s ease-in-out;
}
.create-btn:hover {
  background: #555;
}
.create-subtitle {
  font-size: .6em;
}

/* Nav */
nav {
  background: #222;
  height: 48px;
  -webkit-box-shadow: 0 0 8px #333;
  -moz-box-shadow: 0 0 8px #333;
  box-shadow: 0 0 8px #333;
}
.logo {
  color: #FFF;
  display: block;
  font: 1.8em/1em 'Gudea', sans-serif;
  font-style: italic;
  float: left;
  margin: 8px 0 0 12px;
}
.links {
  display: block;
  float: right;
  list-style-type: none;
  margin: 14px 10px 0 0;
}
.links li {
  display: inline-block;
  font: 1em/1em 'Lato', sans-serif;
  padding: 0 5px;
  text-transform: uppercase;
}
.links li a {
  color: #FFF;
  text-decoration: none;
}
.links li a:hover {
  color: #CCC;
}

/* Feed */
.feed {
	width: 80%;
	margin: 0 auto;
}

.heading {
	font: 3em 'Gudea', sans-serif;
	font-style: italic;
	font-weight: 100;
	float: left;
	color: #000;
	display: block;
	margin: 25px 0 0 12px;
	width: 100%;
	margin-bottom: 30px;
}

.parties {
	width: 100%;
	height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.party {
	display: inline-block;
	margin-bottom: 30px;
	margin-left: 5%;
	margin-right: 5%;
}

.caption {
	display:none;
	background: #000;
	opacity: 0.6;
	position: absolute;
	color: #fff;
	font: 1.5em 'Source Sans Pro', sans-serif;
	font-weight: 200;
	margin: 0 auto;
	text-align: center;
}

.title {
	padding-top: 20px;
	font-size: 1.2em;
	font-weight: 150;
	width: 90%;
	text-align: center;
	margin: 0 auto;
}

.info {
	position: absolute;
	bottom: 0;
	padding-bottom: 30px;
	width: 100%;
}

.days-info {
	float: left;
	display: inline-block;
	margin-left: 20px;
}

.money-info {
	float: right;
	display: inline-block;
	margin-right: 20px;
}

.days1, .money1 {
	font-size: 2.7em;
	text-align: center;
	display: block;
}

.days2, .money2 {
	font-size: 0.7em;
	text-align: center;
}

.view-btn {
  background: #3D95CE;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font: 1.4em/1em 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin-top: 20px;
  padding: 12px 4px;
  text-decoration: none;
  width: 250px;
  margin-bottom: 50px;
  opacity: 0.8;
  -webkit-box-shadow: 0 0 6px #555;
  -moz-box-shadow: 0 0 6px #555;
  box-shadow: 0 0 6px #555;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background: 0.2s ease-in-out;
}
.view-btn:hover {
	background: #000;
}

img {
	height: 250px;
	width: 250px;
}

@media (max-device-width: 600px) {
  .header-sans {
    font-size: 15em;
  }
  .sign-in-btn {
    font-size: 4em;
    padding: 20px 40px;
  }
}
