#createPartyForm {
  margin: 100px auto 0 auto;
  padding: 30px 20px;
  max-width: 500px;

  border-radius: 6px;
  border: 1px solid #555;

  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
}

.createPartyTitle {
  display: block;
  margin: 10px auto;
  font: 32px 'HelveticaNeue-Light';
  text-align: center;
}

#createPartyForm input, textarea {
  display: inline-block;
  width: 280px;
  font: 20px 'HelveticaNeue-Light';
  margin: 10px auto;
  padding: 5px;
  outline: none;
}

#createPartyForm textarea {
  height: 75px;
  resize: none;
}

#createPartyForm .inputrow {
  display: block;
  margin: 0 auto;
  width: 500px;
  position: relative;
  overflow: visible;
}

#createPartyForm .inputlabel {
  display: inline-block;
  width: 200px;
  font: 20px 'HelveticaNeue-Light';
  vertical-align: top;
  margin-top: 18px;
}

#createPartyForm .inputlabel:after {
  content: ':';
}

#createPartyForm .view-btn {
  display: block;
}

.pac-item {
  font: 16px 'HelveticaNeue-Light';
  padding: 5px 0;
}

input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  background: none;
}