body {
  background: #E3E3E3;
  color: #333;
  margin: 0;
  width: 100%;
}
.landing-page {
  background: url('/img/large-solo.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.center-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/*** Welcome ***/
.top-img {
  background: url('/img/bottles.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  box-shadow: 4px 0 4px #555;
  -webkit-box-shadow: 4px 0 4px #555;
  -moz-box-shadow: 4px 0 4px #555;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 50%;
  width: 100%;
  opacity: .75;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, bottom 0.2s ease-in-out;
}
.bottom-img {
  background: url('/img/hands.jpg') no-repeat bottom scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: absolute;
  top: 50%;
  bottom: 0;
  width: 100%;
  opacity: .75;
  text-decoration: none;
  -webkit-transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
}
.top-img.host-form-active {
  bottom: 0;
  opacity: 1;
}
.top-img.host-form-active:before {
  background: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.top-img.host-form-active .subtitle,
.top-img:hover .subtitle,
.bottom-img:hover .subtitle {
  display: block;
}
.top-img.host-form-active .cant-stop,
.bottom-img.after-transition,
.top-img:hover .cant-stop,
.bottom-img:hover .cant-stop {
  display: none;
}
.bottom-img.host-form-active {
  top: 100%;
}
.top-img:hover.host-form-active {
  cursor: default;
}
.subtitle:hover {
  cursor: pointer;
}
.top-img:hover,
.bottom-img:hover {
  opacity: 1;
}
.black-bg {
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*** Headers & Text ***/
.header-sans {
  color: #FFF;
  font: 10em/1em 'Gudea', sans-serif;
  font-style: italic;
  padding-top: 12%;
  text-shadow: 1px 1px 5px #333;
  text-transform: uppercase;
}
.cant-stop {
  color: #FFF;
  font: 8em/1em 'Gudea', sans-serif;
  font-style: italic;
  opacity: .8;
  padding-top: 120px;
  text-shadow: 1px 1px 5px #333;
  text-transform: uppercase;
}
.subtitle {
  color: #FFF;
  font: 6em/1em 'Source Sans Pro', sans-serif;
  display: none;
  opacity: .8;
  padding-top: 130px;
  text-shadow: 1px 1px 5px #333;
  text-transform: lowercase;
}

/*** Buttons ***/
.sign-in-btn {
  background: #3D95CE;
  border: 0;
  border-radius: 10px;
  color: #FFF;
  font: 2em/1em 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin-top: 60px;
  padding: 16px 4px;
  text-decoration: none;
  width: 500px;
  -webkit-box-shadow: 0 0 8px #555;
  -moz-box-shadow: 0 0 8px #555;
  box-shadow: 0 0 8px #555;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.create-btn {
  background: #3D95CE;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font: 1.4em/1em 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin-top: 20px;
  padding: 12px 4px;
  text-decoration: none;
  width: 360px;
  -webkit-box-shadow: 0 0 6px #555;
  -moz-box-shadow: 0 0 6px #555;
  box-shadow: 0 0 6px #555;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.sign-in-btn:hover,
.create-btn:hover,
.sign-in-btn:focus,
.create-btn:focus {
  background: #555;
  outline: 0;
}

/* Nav */
nav {
  background: transparent;
  height: 40px;
  width: 150px;
  position: fixed;
  top: 0;
  right: 5px;
  z-index: 100;
}
.logo a {
  color: #333;
  display: block;
  font: 1.6em/1em 'Source Sans Pro', sans-serif;
  font-weight: 200;
  float: left;
  margin: 8px 0 0 12px;
  text-decoration: none;
}
.links {
  display: block;
  float: right;
  list-style-type: none;
  margin: 10px 10px 0 0;
}
.links li {
  display: inline-block;
  font: 1.4em/1em 'Source Sans Pro', sans-serif;
  opacity: .8;
  padding: 0 5px;
}
.links li a {
  color: #EEE;
  text-decoration: none;
}
.links li a:hover {
  color: #3D95CE;
}
.view-btn {
  background: #3D95CE;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font: 1.4em/1em 'Source Sans Pro', sans-serif;
  font-weight: 200;
  margin-top: 20px;
  padding: 12px 4px;
  text-decoration: none;
  width: 250px;
  margin-bottom: 50px;
  opacity: 0.8;
  -webkit-box-shadow: 0 0 6px #555;
  -moz-box-shadow: 0 0 6px #555;
  box-shadow: 0 0 6px #555;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.view-btn:hover {
  background: #333;
  cursor: pointer;
}

/* Feed */
.feed {
  background: #111;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.feed .ember-view {
  text-decoration: none;
}
.party {
  display: block;
  height: 200px;
  position: relative;
  -webkit-box-shadow: 1px 0 7px #444;
  -moz-box-shadow: 1px 0 7px #444;
  box-shadow: 1px 0 7px #444;
}
.party:before {
  background: rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.party:hover:before {
  background: rgba(0, 0, 0, 0);
}
.event-name {
  color: #FFF;
  display: block;
  float: left;
  font: 4em/1em 'Source Sans Pro', sans-serif;
  font-weight: 300;
  opacity: .7;
  padding: 60px 0 0 20px;
  text-decoration: none;
  text-shadow: 1px 1px 5px #333;
}
.event-fund {
  color: #FFF;
  display: block;
  float: right;
  font: 3em/1em 'Source Sans Pro', sans-serif;
  font-weight: 300;
  opacity: .7;
  padding: 70px 30px 0 0;
  text-decoration: none;
  text-shadow: 1px 1px 5px #333;
}
.event-numbers {
  display: block;
  float: right;
  margin: 0;
  opacity: 0;
  padding: 62px 30px 0 0;
  white-space: nowrap;
  width: 300px;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.party:hover .event-numbers {
  opacity: 1;
}
.third {
  border-right: 1px solid #FFF;
  display: inline-block;
  opacity: .8;
  padding: 0 18px;
  text-align: center;
  text-shadow: 1px 1px 5px #333;
}
.third:last-child {
  border-right: 0;
}
.large-number {
  color: #FFF;
  display: block;
  font: 2.6em/1.2em 'Source Sans Pro', sans-serif;
  font-weight: 200;
}
.number-desc {
  color: #FFF;
  display: block;
  font: 1em/1em 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

/*** Media Queries ***/
@media all and (max-width: 800px) {
  .party {
    height: 400px;
  }
  .event-name {
    float: none;
  }
  .event-numbers {
    float: none;
    margin: 0 auto;
  }
}

@media all and (max-device-width: 800px) {
  .event-numbers {
    opacity: 1;
  }
}

@media all and (max-width: 600px), (max-device-width: 600px) {
  .header-sans {
    font-size: 15em;
  }
  .sign-in-btn {
    font-size: 4em;
    padding: 20px 40px;
  }
  .top-img,
  .bottom-img {
    opacity: 1;
  }
  .top-img .cant-stop,
  .bottom-img .cant-stop,
  .top-img:hover .cant-stop,
  .bottom-img:hover .cant-stop,
  .top-img.host-form-active .cant-stop,
  .top-img.host-form-active:hover .cant-stop,
  .bottom-img.after-transition {
    display: none;
  }
  .top-img .subtitle,
  .bottom-img .subtitle {
    display: block;
  }
}
