/* View Party */
.header-img {
  width: 100%;
  -webkit-box-shadow: 4px 0 4px #555;
  -moz-box-shadow: 4px 0 4px #555;
  box-shadow: 4px 0 4px #555;
	height: 200px;
}
.header-img .event-numbers {
  opacity: 1;
}
.party-view {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.subsection {
	width: 80%;
	margin: 0 auto;
  text-align: center;
}

.party-details {
	width: 33%;
	display: inline-block;
	padding-top: 2em;
	padding-bottom: 2em;
  vertical-align: top;
}
.detail-title {
	font-size: 1.4em;
}
.detail-big {
	font-size: 2em;
}
.detail-img {
	border-radius: 60%;
	width: 200px;
	height: 200px;
	background-color: #fff;
	margin: 0 auto;
	margin-bottom: 30px;
	margin-top: 20px;
}

.detail-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.party-info {
	display: block;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 40px;
	vertical-align: top;
	padding-left: 20px;
  text-align: center;
}

.details {
	width: 48%;
	font-size: 1.3em;
/*	padding-left: 30px;
*/	margin: 0 auto;
}

.donate {
	width: 48%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}

.donate-input {
	width: 320px;
	font-size: 1.2em;
	padding: 12px 4px;
  box-sizing: border-box;
}

.donate-btn {
  background: #3D95CE;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font: 1.4em/1em 'Source Sans Pro', sans-serif;
  font-weight: 200;
  padding: 12px 4px;
  text-decoration: none;
  width: 320px;
  -webkit-box-shadow: 0 0 6px #555;
  -moz-box-shadow: 0 0 6px #555;
  box-shadow: 0 0 6px #555;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
	margin: 20px auto;
  display: block;
}

.invite-btn, .finish-btn {
    background: #3D95CE;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font: 1.4em/1em 'Source Sans Pro', sans-serif;
    font-weight: 200;
    margin-top: 20px;
    padding: 12px 4px;
    text-decoration: none;
    width: 320px;
    -webkit-box-shadow: 0 0 6px #555;
    -moz-box-shadow: 0 0 6px #555;
    box-shadow: 0 0 6px #555;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
	display: inline-block;
	margin: 0 auto;
	width: 40%;
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
}

.invite-btn {
	background: green;
}

.finish-btn {
	background: red;
}

.buttons {
/*	display: none;*/
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 50px;
}

/*** Media Queries */
@media all and (max-width: 950px) {
  .header-img {
    height: 400px;
  }
  .event-name {
    float: none;
  }
  .event-numbers {
    float: none;
    margin: 0 auto;
  }
}

@media all and (max-device-width: 950px) {
  .event-numbers {
    opacity: 1;
  }
}