/* View Party */
.header-img {
  width: 100%;
  -webkit-box-shadow: 4px 0 4px #555;
  -moz-box-shadow: 4px 0 4px #555;
  box-shadow: 4px 0 4px #555;
	height: 200px;
}
.header-img .event-numbers {
  opacity: 1;
}
hr {
  width: 120px;
}
.party-view {
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.subsection {
	width: 80%;
	margin: 0 auto;
  text-align: center;
}
.party-details {
	width: 33%;
	display: inline-block;
	padding-top: 2em;
	padding-bottom: 2em;
  vertical-align: top;
}
.detail-title {
	font-size: 1.4em;
}
.detail-big {
	font-size: 1.8em;
}
.detail-img {
	border-radius: 60%;
	width: 200px;
	height: 200px;
	background-color: #fff;
	margin: 20px auto 30px;
}
.detail-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.wide-subsection {
  overflow: auto;
}
.description {
  font-size: 1.3em;
  margin-right: 360px;
  padding: 30px 0 20px 20px;
}
.donate {
	width: 250px;
	float: right;
  padding: 30px 75px 0 0;
}
.donate-input {
	width: 250px;
	font-size: 1.2em;
	padding: 10px 4px;
  box-sizing: border-box;
}
.donate-btn {
  background: #3D95CE;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  display: block;
  float: right;
  font: 1em/1em 'Source Sans Pro', sans-serif;
  margin: 5px 0;
  padding: 8px;
  text-decoration: none;
  width: 74px;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.invite-btn, 
.finish-btn {
  border: 0;
  border-radius: 8px;
  color: #FFF;
  display: inline-block;
  font: 1.2em/1em 'Source Sans Pro', sans-serif;
  margin: 20px 15px;
  padding: 12px 6px;
  text-align: center;
  width: 40%;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}
.invite-btn {
	background: #3D95CE;
}
.finish-btn {
	background: #888;
}
.donate-btn:hover,
.invite-btn:hover {
  background: #007ccc;
  cursor: pointer;
}
.finish-btn:hover {
  background: #AAA;
  cursor: pointer;
}
.buttons {
	margin: 40px auto 50px;
	text-align: center;
}

/*** Media Queries */
@media all and (max-width: 950px) {
  .header-img {
    height: 400px;
  }
  .event-name {
    float: none;
  }
  .event-numbers {
    float: none;
    margin: 0 auto;
  }
}

@media all and (max-device-width: 950px) {
  .event-numbers {
    opacity: 1;
  }
}

@media all and (max-width: 580px) {
  .donate {
    width: 150px;
  }
  .donate-input {
    width: 150px;
  }
  .description {
    margin-right: 260px;
  }
}